.vehicle-card {
  display: flex;
  flex-direction: column;
}

.vehicle-img {
  width: 100%;
}

.vehicle-summary {
  border-bottom: 1px solid #e4e4e4;
  display: flex;
  justify-content: space-between;
}

.vehicle-details {
  display: flex;
  flex-direction: column;
  padding: 8px 0 4px 16px;
  width: 16rem;
}

.vehicle-make {
  color: black;
  font-size: 28px;
  line-height: 1.1;
  letter-spacing: -0.2px;
  margin: 0;
}

.vehicle-location {
  margin: 0;
  padding: 2px 0;
}

.vehicle-availability {
  align-self: center;
  height: 65px;
  margin: 0 10px 0 0;
  text-align: center;
  width: 7.5rem;
}