.app {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto 40px;
}

@media (min-width: 1024px) {
  .app {
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.refine-search-div {
  align-items: center;
  background-color: #172B24;  
  bottom: 0;
  display: flex;
  justify-content: center;
  padding: 11px;
  position: fixed;
  width: 100%;
}

@media (min-width: 1024px) {
  .refine-search-div {
    display: none;
  }
}

.hide {
  display: none;
}

@media (min-width: 1024px) {
  .hide {
    display: block;
    margin-left: 32px;
    width: 25%;
  }
}