.pagination-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 70px;
  width: 100%;
}

.pagination-results {
  margin: 0;
}

.pagination-btn-container {
  margin-top: 10px;
  width: 232px;
}

.page-list {
  display: flex;
  flex-wrap: wrap;
  height: inherit;
  justify-content: flex-start;
  list-style: none;
  margin: 0;
  padding: 0;
}

.page-item {
  display: flex;
  margin: 3px;
}

.page-btn {
  background-color: white;
  border: 0;
  border-radius: 6px;
  padding: 12.5px 5px;
  width: 2.5rem;
}

.active {
  background-color: #50ff7d;
}