.filter-container {
  width: 100%;
}

.back-to-search-div {
  align-items: center;
  background-color: #172B24;
  display: flex;
  height: 52px;
}

@media (min-width: 1024px) {
  .back-to-search-div {
    display: none;
  }
}

.chevron {
  margin-left: 20px;
}

.back-to-search {
  color: white;
  margin-left: 10px;
}