.vehicle-list-container {
  margin: 15px 0;
  width: 290px;
}

@media (min-width: 375px) {
  .vehicle-list-container {
    width: 340px;
  }
}

@media (min-width: 425px) {
  .vehicle-list-container {
    width: 390px;
  }
}