.price-wrapper {
  align-self: center;
  margin-top: 3px;
  padding: 0 10px;
  width: 100%;
}

.price-div {
  background-color: #bef9f9;
  border-radius: 6px;
  display: flex;
  padding: 4px 8px;
  flex-direction: column;
}

.price {
  font-size: 18px;
  font-weight: bold;
  display: inline-block;
}

.price-detail {
  font-size: 12px;
}